*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .button1{
    float: inline-end;
} */
/* .button2 {
    float: ;
} */
.menu{
    position: fixed;
    float: right;
    right: 10px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #343a4080;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.menu:hover{
    background-color: #212529;
}
/* .menu2{
    position: fixed;
    float: right;
    bottom: 10px;
    font-size: 16px;
    z-index: 1;
    cursor: pointer;
    background-color: #343a4080;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.menu2:hover{
    background-color: #212529;
} */





.first{
    background-image: url(../image/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    padding: 16rem 0;
    text-align: center;
    opacity: 0.9;
}
.first h1{
    color: #212529;
    font-size: 88px;
}
.first h3{
    color: #212529;
    font-size: 28px;
    margin-bottom: 40px;
}
.first a{
    background-color: #1d809f;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px ;
    border-radius: 5px ;
}
.second{
  text-align: center;
  padding: 5rem 0;
}
.second h2{
    color: #212529;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 8px;

}
.second p{
    color: #212529;
    font-size: 20px;
    padding: 0 0 48px;
}
.second a{
    text-decoration: none;
}
.second .second-button{
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 40px ;
    border-radius: 5px ;
}

    .fourth{
        background-image: url(../image/bg-callout.jpg);
        background-position: center;
        background-size: cover;
        padding: 16rem 0;
        text-align: center;
    }
    .fourth h2{
        color: 212529;
        font-size: 56px;
        /* font-weight: bold; */
        /* margin: 0 225px 48px; */
        margin-bottom: 40px;
    }
    .fourth a{
        background-color: #1d809f;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        padding: 20px 40px ;
        border-radius: 5px ;
    }
    .sixth{
        background-color: #1d809f;
        text-align: center;
        padding: 8rem 0;
        opacity: 0.9;
    }
    .sixth h2{
        color: #fff;
        font-size: 32px;
        margin: 0 0 24px;
    }
    .sixth .button1{
        background-color: #000;
        color: #fff;
        padding: 20px 40px;
        font-size: 16px;
        text-decoration: none;
        margin-right: 8px;
        border-radius: 5px;
    }
    .sixth .button2{
        background-color: #fff;
        color: black;
        padding: 20px 40px;
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;

    }
    .social{
        text-align: center;
        padding: 6rem 0;
    }
    .social i{
        background-color: #1d809f;
        color: #fff;
        padding: 20px;
        border-radius: 100%;
        margin: 0 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .social .fb{
        padding: 20px 25px;
    }
    .social P{
            color: #6c757d;
            font-size: 13px;
            margin-top: 30px;
    }

.third{
    background-color: #1d809f;
    padding: 14rem 0;
    overflow: hidden;
}
.third-text{
    text-align: center;
}
.third-text h3{
    color: #ecb807;
    font-size: 16px;
}
.third-text h2{
    color: #fff;
    font-size: 48px;
}
.third .all{
    margin-top: 60px;
}
.third .all .box{
    float: left;
    width: 25%;
    text-align: center;

}
.third .all i{
    background-color: #fff;
    color: #1d809f;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;

}.third .all .box .mb{
    padding: 20px 25px;
}

.fifth{
    margin: 5rem 0;
}
.fifth-text{
    text-align: center;
}
.fifth-text h3{
    color: #ecb807;
    font-size: 16px;
}
.fifth-text h2{
    color: #212529;
    font-size: 48px;
}
.fifth .box{
    float: left;
    width: 50%;
    transition: .4s;
    position: relative;
    cursor: pointer;
}
.fifth .box img{
    width: 100%;
}

.fifth .all{
    width: 80%;
    margin: 40px auto;
}
.fifth .box-text1{
    position: absolute;
    bottom: 25%;
    left: 60px;
}
.fifth .box-text1 h2{
    color: #fff;
    font-size: 32px;
    margin: 0 0 8px;
}
.fifth .box-text1 p{
    color: #fff;
    font-size: 18px;
}

.fifth .box-text2{
    position: absolute;
    bottom: 25%;
    left: 60px;
}
.fifth .box-text2 h2{
    color: #fff;
    font-size: 32px;
    margin: 0 0 8px;
}
.fifth .box-text2 p{
    color: #fff;
    font-size: 19.2px;
}
.fifth .box-text3{
    position: absolute;
    bottom: 25%;
    left: 60px;
}
.fifth .box-text3 h2{
    color: #fff;
    font-size: 32px;
    margin: 0 0 8px;
}
.fifth .box-text3 p{
    color: #fff;
    font-size: 19.2px;
}
.fifth .box-text4{
    position: absolute;
    bottom: 25%;
    left: 60px;
}
.fifth .box-text4 h2{
    color: #fff;
    font-size: 32px;
    margin: 0 0 8px;
}
.fifth .box-text4 p{
    color: #fff;
    font-size: 19.2px;
}

.fifth .box:hover{
    transform: scale(0.9);
}

.empty{
    clear: both;
}
.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d809f;
    opacity: 0;
    transition: .4s;
}
.fifth .box:hover .overlay1{
    opacity: .8;
}
.overlay2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d809f;
    opacity: 0;
    transition: .4s;
}
.fifth .box:hover .overlay2{
    opacity: .8;
}
.overlay3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d809f;
    opacity: 0;
    transition: .4s;
}
.fifth .box:hover .overlay3{
    opacity: .8;
}
.overlay4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d809f;
    opacity: 0;
    transition: .4s;
}
.fifth .box:hover .overlay4{
    opacity: .8;
}